In [1]:
# ANSWER 1

a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

b()
b()
b()
a

6

In [2]:
# The value displayed when the last expression (a) is evaluated is 6. In the first step, Variable a is defined and assigned the value 0. In the second step variable a is declared as global which means its value will keep on changing everytime b variable is called. In the next step variable c is defined as value of 'a' +2.
# The variable b is called 3 times hence the respective output after the 3rd call of b variable will be 6.

In [7]:
# ANSWER 2

def fileLength(file):                                         
    try:                                                    
        view = open(file, "r")                                     
        text = view.read()                                               
        print('The length of given file is '+ str(len(text)))         
        view.close()                                                   
    except:                                                           
        print('File '+file+' not found')

In [4]:
fileLength('Midterm.py')

The length of given file is461

In [8]:
fileLength('idterm.py')

File idterm.py not found

In [9]:
# ANSWER 3

class Marsupial(object):                     
  
    def __init__(self):                               
        self.list = []                     
    def put_in_pouch(self, item):             
        self.list.append(item)
    def pouch_contents(self):                
        return self.list

In [17]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [18]:
class Kangaroo(Marsupial):                      
    
    def __init__(self,x,y):                                     
        Marsupial.__init__(self)                 
        self.x = x                                
        self.y = y
                                  
    def jump(self,dx,dy):                         
        self.x = self.x + dx
        self.y = self.y + dy
        
    def __str__(self):                           
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)

In [19]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [20]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [22]:
k.jump(1,1)
k.jump(1,1)
k.jump(1,1)
print(k)

I am a Kangaroo located at coordinates (6,3)

In [23]:
# ANSWER 4

def collatz(num):                  
   
    if num != 1:                   
        if num%2!=0:                
            print(int(num))         
            collatz(3*num+1)       
        
        else:
            print(int(num))         
            collatz(num/2)          
  
    else:
        print(int(num));

In [24]:
collatz(1)

1

In [25]:
collatz(10)

10
5
16
8
4
2
1

In [26]:
collatz(5)

5
16
8
4
2
1

In [32]:
# ANSWER 5

input1 = int(input("Enter a positive integer number "))

def binary(input1):
    if input1 < 0:
        print("Please input a positive integer")
    else:
        return "{0:b}".format(input1)
        
binary(input1)

Enter a positive integer number -5
Please input a positive integer

In [33]:
# ANSWER 6

from html.parser import HTMLParser                               
class HeadingParser(HTMLParser):                      
    def __init__(self):                                                 
        HTMLParser.__init__(self)                           
        self.head =0                                                          
        self.intend = ""
    def handle_starttag(self, tag, attributes):              
        if tag[:-1]=='h':
            self.head = 'type'
    def handle_data(self, data):                             
        if self.head=="type":
            print(self.intend+ data)                         
            self.intend+= "    "
            self.head=0

In [34]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
    Principles

In [35]:
# QUESTION 7

from html.parser import HTMLParser    
from urllib.request import urlopen
from urllib.parse import urljoin

class collector(HTMLParser):
    

    def __init__(self, url):
      
        HTMLParser.__init__(self)
        self.url = url
        self.links = []


    def append(self):
        
        return self.links


    def handle_starttag(self, url_tag, attributes):
        for i in attributes:
            b = urljoin(self.url, a[1])
            if b[:4] == 'http': 
                self.url_links.append(b)
                i = 0
def webdir(url, depth, i):
   

    depth = depth - 1    
    print(i*'  ', url)         

    objective = urlopen(url).read().decode()
    collection = urlcollector(url)
    collection.feed(objective)
    urls = collection.append() 
 
    links = urls
    i= i + 4


    for link in links:
        if depth < 0 or i < 0:
            return 1
        else:
            webdir(link, depth, i)

In [36]:
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 0, 0)

 http://reed.cs.depaul.edu/lperkovic/test1.html

NameError: name 'urlcollector' is not defined

In [37]:
# QUESTION 8

import sqlite3
var1 = sqlite3.connect('database_db')
var2 = var1.cursor()
var2.execute("CREATE DATABASE TABLE database_d (City, Country, Season, Temperature, Rainfall)")
var2.execute("INSERT INTO TABLE database_d VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
var2.execute("INSERT INTO TABLE database_d VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
var2.execute("INSERT INTO TABLE database_d VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
var2.execute("INSERT INTO TABLE database_d VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
var2.execute("INSERT INTO TABLE database_d VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
var2.execute("INSERT INTO TABLE database_d VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
var2.execute("INSERT INTO TABLE database_d VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
var2.execute("INSERT INTO TABLE database_d VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
var2.execute("INSERT INTO TABLE database_d VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
var2.execute("INSERT INTO TABLE database_d VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
var2.execute("INSERT INTO TABLE database_d VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
var2.execute("INSERT INTO TABLE database_d VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")
var1.commit()
var1.close()

OperationalError: table database_d already exists

In [38]:
import sqlite3
var1 = sqlite3.connect('database_db')
var2 = var1.cursor()
var2.execute('SELECT Temperature FROM database_d ')
for record in var2:
    print(record)
var2.execute('SELECT DISTINCT City FROM database_d ')
for record in var2:
    print(record)
var2.execute('SELECT * FROM database_d  where Season="Fall"')
for record in var2:
    print(record)
var2.execute('SELECT * FROM database_d  where Country="India"')
for record in var2:
    print(record)
var2.execute('SELECT City,Country FROM database_d  where (Season ="Fall") AND (temperature>20) ORDER BY Temperature DESC')
for record in var2:
    print(record)
var2.execute('SELECT City,Country,Season FROM database_d  where (rainfall>200) AND (rainfall<400)')
for record in var2:
    print(record)
var2.execute('SELECT SUM(Rainfall) FROM database_d  where City="Cairo"')
Total_annual_rainfall=var.fetchall()
print(Total_annual_rainfall)
var2.execute('SELECT SUM(Rainfall),Season FROM database_d  differentiated by each season')
for record in var2:
    print(record)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
('Mumbai',)
('London',)
('Cairo',)
('Mumbai', 'India', 'Fall', 27.6, 346)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346)
('Mumbai', 'India')
('Cairo', 'Egypt')
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
[(27.6,)]
(569.0, 'Fall')
(192.29999999999998, 'Spring')
(1706.5, 'Summer')
(230.1, 'Winter')

In [39]:
#  QUESTION 9

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[a.upper() for a in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [40]:
[a.lower() for a in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [41]:
[len(a) for a in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [42]:
[[a.upper(),a.lower(),len(a)] for a in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [43]:
[a for a in words if len(a) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']